APP_NAME="CRM Camp Resident MUTU"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=crm_mutu
DB_USERNAME=root
DB_PASSWORD=

CACHE_STORE=file
QUEUE_CONNECTION=database
SESSION_DRIVER=file
FILESYSTEM_DISK=local
BROADCAST_CONNECTION=log
HASH_DRIVER=argon
SUPERADMIN_PASSWORD=ChangeMe_123456!
